{erl_opts, [debug_info]}.
{deps, [
    {eredis, "1.7.1"},  %% For Redis communication
    {jsone, "1.8.1"},    %% For JSON serialization (fast and standard)
    {msgpack, "0.7.0"},
    {eqwalizer_support, 
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git", 
        {branch, "main"}, "eqwalizer_support" 
    }} %% For static code analysis by erlang-language-platform (VSIX)
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.